.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 75px;
  z-index: 200;
  cursor: pointer;
  padding-top: 5px;
}

.sidebar-link{
  height: 96px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-link:hover{
  background-color: lightgray;
}

.sidebar-link img{
  height: 40px;
  margin-bottom: 5px;
}

.sidebar-link div{
  font-family:Roboto,Arial;
  font-size: 10px;
  font-weight: bold;
}